# X Layer Network Configuration
PRIVATE_KEY=c2ac3b67ed71f4c7b878c7f51f91c6bcfa5efa19f6eca9a858f2ee1ac748d97c
XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_API_KEY=699b58e2-74dd-49c1-ad81-abc2d409f0b3

# Database Configuration
DATABASE_URL=psql 'postgresql://neondb_owner:npg_4IEzgLiwkl7x@ep-ancient-hat-adls5uln-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Wallet Connect
VITE_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id_here

# Environment
NODE_ENV=development
